/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 Mar 2025, 15:11:45
    Author     : Nicholas Leong EDUV4551823
*/

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
}

main {
  flex: 1;
}

/*=============================Header=========================================*/

header {
  min-height: 1.3229cm;
  background: #f7c743;
  display: flex;
  height: 130px;
}

#logo{
    width: 128px;
    height: 128px;
    border-radius: 50%;
/*    position: absolute;*/
}

#buy_sell{
    padding-left: 2.9cm;
    font-size: 20px;
    /*border: 2px green solid;*/
    line-height: 100px;
    text-align: center;
}

#buy{
/*    padding: 
    position: absolute;*/
    margin: 0;
    top: 50%;
    /*padding-left: 4.5cm;*/
    /*vertical-align: middle;*/
}

#sell{
    /*position: absolute;*/
    margin: 0;
    top: 50%;
    padding-left: 3.45cm;
    /*vertical-align: middle;*/
}

#searchbox{
    padding-left: 2.9cm;
    font-size: 20px;
    /*border: 2px green solid;*/
    line-height: 100px;
    text-align: center;
}

#search{
    width: 8.66cm;
    height: 0.60cm;
    font-size: 12px;
    border-radius: 10px;
}

#btnSearch{
    height: 0.70cm;
    width: 3cm;
}

#account{
    padding-left: 2.9cm;
    font-size: 20px;
    /*border: 2px green solid;*/
    line-height: 100px;
    text-align: center;
}

#user{
    
}

/*#username{
    
}*/

/*=============================Footer=========================================*/

footer {
  min-height: 1.3229cm;
  background: #f7c743;
  display: flex;
  /*height: 2cm;*/
}

#socialMedia{
    line-height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerImages{
    height: 50px;
    width: 50px;
    padding-left: 1.25cm;
}

#footerLabels{
    padding-left: 2.9cm;
    font-size: 20px;
    /*border: 2px green solid;*/
    line-height: 100px;
    text-align: center;
}

#aboutUs{
   padding-left: 2.75cm; 
}

#help{
    padding-left: 2.75cm;
}

#businessPolicies{
    padding-left: 2.75cm;
}

#copyright{
    padding-left: 5.4cm;
}
